doctype html
html
  head
    title notes
    link(href='/static/main.css' rel='stylesheet')

  body
    header.header
      h1.logo 
        a(href='/') Notes
        

      nav.nav
        a(href='/notes') notes
        a(href='/archive') Archive

  block content     
   