doctype html
html
  head
    title notes

  body
    header
      h1 
        a(href='/') Notes
        

      nav
        a(href='/create') Create note
        a(href='/archive') Archive

  block content     
   